﻿@model IEnumerable<Repozytorium.Models.Ogloszenie>

@{
    ViewBag.Title = "View";
}

<h2>Ogloszenie z kategorii</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UzytkownikId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDodania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OstatnioEdytowane)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOstatnioEdytowane)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UzytkownikId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDodania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OstatnioEdytowane)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOstatnioEdytowane)
        </td>
        <td>
          
        </td>
    </tr>
}

</table>
