﻿@model Repozytorium.Models.Ogloszenie

@{
    ViewBag.Tytul = "Edytuj ogloszenia nr "+Model.Id;
    ViewBag.Opis = "Edytuj ogloszenia nr"+Model.Id+"- opis do Google";
    ViewBag.SlowaKluczowe = "Edytuj ogloszenia ";
}
<h2>Edytujesz ogłoszenie nr: @Model.Id</h2>
@if (ViewBag.Blad == true)
{
    <div class="alert alert-danger" role="alert">
        Wystąpił bład podczas edycji<br/>
        Sprobój ponownie
    </div>
}
else if (ViewBag.Blad == false)
{
    <div class="alert alert-success" role="alert">
        Pomyślnie edytowano. <br/>
    Twoje ogłoszenie wygląda następująco.
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ogloszenie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Tresc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tresc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tresc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tytul, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tytul, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tytul, "", new { @class = "text-danger" })
            </div>
        </div>

      @Html.HiddenFor(m => m.DataDodania)
    @Html.HiddenFor(m => m.UzytkownikId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Wróc", "Index", null,new {
@class="btn btn-warning"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
