﻿@model PagedList.IPagedList<Repozytorium.Models.Ogloszenie>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Tytul = "Lista ogłoszeń -metatytul do 60 znakow";
    ViewBag.Opis = "lista ogloszeń z naszej aplikacji- metaopis do 160 znaków";
    ViewBag.SlowaKluczowe = "Lista, ogloszeń,słowa, kluczowe, aplikacja";
}

<h2>Moje Ogloszenia</h2>
@if (User.Identity.IsAuthenticated) { 
<p>
    @Html.ActionLink("Dodaj ogłoszenie", "Create",null, new { @class="btn btn-primary"})
    <br/>
   
</p>}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id użytkownika","Index", new { sortOrder=ViewBag.IdSort})
        </th>
        <th>
            @Html.ActionLink("Treść", "Index", new { sortOrder = ViewBag.TrescSort })
        </th>
        <th>
            @Html.ActionLink("Tytuł", "Index", new { sortOrder = ViewBag.TytulSort })
        </th>
        <th>
            @Html.ActionLink("Data dodania", "Index", new { sortOrder = ViewBag.DataDodaniaSort })
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UzytkownikId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDodania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OstatnioEdytowane)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOstatnioEdytowane)
        </td>
        <td>
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Dodaj kategorie", "Create", new { id = item.Id }, new { @class = "btn btn-primary" })
           
        </td>
    </tr>
}

</table>
<div >
    <br/>
    Strona@(Model.PageCount<Model.PageNumber?0: Model.PageNumber)z @Model.PageCount
    @Html.PagedListPager(Model,page=>Url.Action("MojeOgloszenia",new { page }))
</div>